.authContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupForm{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

.textOne{
    margin: .75rem 0 3rem 0;
    font-size: 2rem;
}

.input{
    margin-bottom: 1rem;
    padding: .5rem .75rem;
    width: 80%;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1.25px solid #3636c4;
}

.input::placeholder{
    font-size: 1.05rem;
    font-family: inherit;
}

.signupBtn{
    background: none;
    border: 2px solid #3636c4;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    margin: 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    transition: all .2s ease;
}

.signupBtn:hover{
    background-color: #3636c4;
    color: white;
}

.authChange{
    text-decoration: none;
    color: #888787;
    margin-bottom: .3rem;
    transition: all .2s ease;
}

.authChange:hover{
    color: #000000;
}
